body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  height: 115px;
  width: 100% ;
}

.logo {
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  align-items: center;
}

.logo a {
  text-decoration: none;
  margin: 0 16px;
  padding: 16px;
  font-size: 28px;
  font-weight: 700;
  color: black;
}

nav ul {
  display: flex;
  align-items: center;
  flex: 1;
  list-style: none;
  justify-content: flex-end;
}

nav li {
  padding: 16px;
  margin-right: 16px;
  font-size: 18px;
  font-weight: 500;
}

.header-icons {
  display: flex;
  align-items: center;
  border-left: 1px solid black;
}

.header-icons a { 
  padding: 16px;
}
.header-icons a + a {
  margin-left: 16px;
}
.header-icons img {
  width: 24px;
  height: 24px;
}