* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

aside {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  background-color: black;
  color: white;
  max-height: 100vh;
  transition: all 0.8s ease-in-out;
}

article+aside {
  position: relative;
}

aside.closed {
  left: -20%;
}

aside ul {
  margin: 0;
  padding: 0;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: all 0.8s ease-in-out;
}
aside ul::-webkit-scrollbar {
  display: none;
}

aside.closed ul {
  margin-right: 22%;
}

aside .header {
  display: flex;
  width: 100%;
  align-items: center;
}
aside .header h4 {
  flex: 1;
  margin: 0 1.2rem;
}
aside .header button {
  flex: 0;
  padding: .25rem;
  border: none;
}

aside .header img {
  height: 1.25rem;
}

#closeIcon {
  display: none;
}

aside>h4, aside .header, aside button, aside a>li {
  padding: 1.25rem;
}

.buttonContainer {
  display: flex;
}

aside button,
aside a>li {
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  background-color: black;
  border: none; 
  border-top: 1px solid rgb(51, 51, 51);
}
aside button:hover {
  background-color: rgb(51, 51, 51);
}
aside button:active {
  background-color: rgb(124, 124, 124);
}
aside ul li {
  list-style-type: none;
  color: white;
}

aside a {
  text-decoration: none;
  color: white;
}

article {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: all 0.8s ease-in-out;
}
article::-webkit-scrollbar {
  display: none;
}

aside+article {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25%;
}

aside.closed+article {
  left: 5%;
}

article iframe {
  width: 100%;
  height: 100%;
}

article .container {
  padding: 0 2rem;
}